body {
    text-align: center;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
}

ul li {
    list-style-type: none;
    font-size: 30px;
    margin: 20px auto;

}

ul li a {
    color: black;
    margin-right: 48px;
    font-weight: 500px;
    text-decoration: none;
}

ul li a:hover {color:#405d81;}