.text {
    position: absolute;
    text-decoration: none;
    font-size: 35px;
    color: rgb(80, 121, 68);
    font-weight: bold;
    margin: 20px 40px;
}

.text:hover {
    color: rgb(99, 177, 96);
}