body {
    margin: 50px 50px;
}

p {
    margin-top: 7%;
}

span {
    font-size: 40px;
    cursor: pointer;
    margin: 40px;
    color: brown;
    font-style: italic;
}

span:hover {
    color: cadetblue;
}

code {
    font-size: 16px;
}
